<h2>Welcome {{name}}</h2>
<h2>{{2+2}}</h2>

<h2 class="text-success">{{"Welcome"+name}}</h2>
<h2 [class]="SuccessClass">{{greetUser()}}</h2>

<h2 [ngClass]="messageClasses">Hello</h2>

<h2>{{siteUrl}}</h2>
<input [id]="myId" type="text" value="Chetan">
<input id="{{myId}}" type="text" value="Chetan">

<!--Style binding-->
<h2 [style.color]="hasError? 'red' : 'green'">Style Binding</h2>
<h2 [ngStyle]="titleStyle">Hello Style</h2>

<!--event binding-->
<button (click)="onClick($event)">Submit</button>
{{greeting}}

<br /><br />

<!--template binding-->
<input #myInput type="text">
<button (click)="logMessage(myInput.value)">log</button>

<br /><br />
<!--Two-Way binding-->
<input [(ngModel)]="Name" type="text">
{{Name}}
